.sync-steam-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

.sync-steam-btn-container-disabled {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 30px;
    cursor: default;
}

.img-sync-steam-animation {
    animation: spin 1s linear infinite;
}

.sync-steam-btn {
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    border: none;
}