.favorites-main-content {
    width: 100%;
    margin: 0;
    padding: 20px 30px 50px 40px;
}

.favorites-games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: fit-content;
    padding-left: 40px;
}