.horizontal-game-list-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 80px);
    margin: 0 -90px;
}

.horizontal-list-game-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    padding: 150px 10%;
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1 1 auto;
    min-width: 0;
}

.horizontal-list-game-container > div {
    flex: 0 0 auto;
    width: 400px;
}

.game-fast-info {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 25px;
    opacity: 0;
    transition: 0.3s;
}

.game-fast-info.open {
    opacity: 1;
}

.game-fast-info p {
    font-size: 16px;
    color: var(--text-secondary);
    border-left: 1px solid var(--border);
    padding: 0 10px;
}