.title-collection-container {
    margin-bottom: 30px;
}

.collection-games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 44px;
}