.game-card {
    width: 285px;
    height: 285px;
}

.game-card-img {
    width: 283px;
    border: var(--border-primary);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}