.game-card {
    width: 280px;
    height: 280px;
}

.game-card-img {
    width: 278px;
    border: var(--border-primary);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}