.side-menu-container {
    position: fixed;
    padding-top: 100px;
    width: 130px;
    height: calc(100vh - 133px);
}

.side-menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}

.side-menu-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.side-menu-list img {
    width: 40px;
}

.side-menu-list li p {
    color: var(--text-secondary);
}

.selected::before {
    position: absolute;
    bottom: -15px;
    left: -5px;
    content: '';
    width: calc(105% + 10px);
    height: 10px;
    background-color: var(--primary);
    border-radius: 20px;
}

.side-menu-list li.selected p {
    color: var(--text-primary);
}