.side-menu-container {
    padding-top: 100px;
    width: 170px;
    height: calc(100vh - 133px);
}

.pages-section {
    margin-bottom: 30px;
}

.side-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.side-menu-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.side-menu-list img {
    width: 40px;
}

.side-menu-list li p {
    color: var(--text-secondary);
}

.selected::before {
    position: absolute;
    left: 13px;
    content: '';
    width: 10px;
    height: 60px;
    background-color: var(--primary);
    border-radius: 20px;
}

.side-menu-list li.selected p {
    color: var(--text-primary);
}