.side-menu-container {
    padding: 30px 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--bg-primary);
    border-right: var(--border-primary);
    border-bottom: var(--border-primary);
    border-bottom-right-radius: 10px;
}

.pages-section {
    margin-bottom: 30px;
}

.side-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.collection-list li:first-child {
    margin-top: 10px;
}

.side-menu-list li {
    padding: 7px 20px;
    width: 270px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}


.side-menu-list li p {
    color: var(--text-secondary);
}

.selected {
    background-color: var(--primary);
}

.side-menu-list li.selected p {
    color: var(--text-primary);
}

hr {
    border: var(--border-primary);
}

.collection-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.collection-section h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.footer-section {
    margin-top: 20px;
}
