.game-list-container {
    padding: 90px 50px 0px 50px;
}

.list-game-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-between;
    gap: 40px;
    overflow-y: auto;
    padding: 80px 30px 100px 30px;
    margin: 0 -10px;
    max-height: calc(100vh - 91px);
}

.message-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.message-container h3 {
    text-align: center;
    color: var(--text-secondary);
    font-size: 23px;
}

.installed-divider {
    grid-column: 1 / -1;
    width: 99.1%;
    border: none;
    border-top: var(--border-primary);
    margin: 20px 0;
}

.sortings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sortings-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.sortings-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
    box-shadow: var(--shadow);
    background-color: var(--bg-card-secondary);
    border: var(--border-primary);
    border-radius: 10px;
    cursor: pointer;
}

.sortings-container .selected-method {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.sortings-container li img {
    width: 30px;
}

.sortings-container li p {
    font-size: 16px;
    font-weight: 400;
}