.collection-folder-container {
    margin-bottom: 10px;
}

.collection-folder-container p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.collection-folder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: var(--shadow);
    background-color: var(--bg-card);
    border: var(--border-primary);
    border-radius: 20px;
    width: 340px;
    height: 340px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
}

.game {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.collection-game-img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}