.backlog-main-content {
    width: 100%;
    margin: 0;
    padding: 20px 30px 50px 40px;
}

.backlog-games-container {
    padding: 20px 40px;
    margin: 0 50px 30px 50px;
    border-radius: 20px; 
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: fit-content;
    padding: 25px 0 10px 0;
    margin: 0 auto;
}

.backlog-playing-games {
    background-color: rgba(31, 192, 109, 0.2);
    border: 1px solid rgba(31, 192, 109, 0.5);
}
.backlog-playing-games .backlog-games-container-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--success);
}

.backlog-played-games {
    background-color: rgba(83, 159, 233, 0.2);
    border: 1px solid rgba(83, 159, 233, 0.5);
}
.backlog-played-games .backlog-games-container-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--info);
}

.backlog-not-played-games {
    background-color: rgba(212, 172, 39, 0.2);
    border: 1px solid rgba(212, 172, 39, 0.5);
}


.backlog-not-played-games .backlog-games-container-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--warning);
}

.backlog-games-container-header {
    display: flex;
    justify-content: space-between;

}

.expand-arrow {
    width: 45px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.expand-arrow-active {
    width: 45px;
    margin-right: 10px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.1s;
}