@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.sync-steam-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 30px;
}

.img-sync-steam-animation {
    animation: spin 1s linear infinite;
}

.sync-steam-btn {
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.header-menu-container {
    position: fixed;
    top: 0px;
    z-index: 500;
    background-color: var(--bg-secondary);
    box-shadow: 0px 35px 40px 10px rgba(0, 0, 0, 0.5);
    border: var(--border-primary);
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 10px;
    padding: 32px 40px 30px 40px;
}

.header-menu-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
    gap: 10px;
}

.selected-header-menu-item {
    background-color: var(--bg-card-secondary);
}

.header-menu-item {
    padding: 15px 25px;
    padding-right: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.header-menu-container ul hr {
    border: 1px solid var(--border);
    margin: 10px 0;
}

.clock {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}