.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 40px;
    height: 113px;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.clock {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}