.keyboard {
    width: 1040px;
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    background-color: var(--bg-secondary);
    box-shadow: 0px 30px 40px 10px rgba(0, 0, 0, 0.5);
    border: var(--border-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-areas: 
        "key key key key key key key key key key key"
        "key key key key key key key key key key key"
        "key key key key key key key key key key key"
        "key key key key key key key key key key key"
        "caps caps space space space space space backspace backspace done done"
    ;
    gap: 10px;
}

.keyboard .key {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 'key';
    min-height: 60px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.keyboard .special-key {
    position: relative;
    background-color: var(--bg-card);
    border: var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
}

.keyboard .special-key::after {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    border: var(--border-primary);
    color: var(--text-secondary);
    font-size: 12px;
}

.keyboard .key-selected {
    background-color: var(--bg-card-secondary);
    border: 1px solid var(--primary);
}

.keyboard .caps-key img {
    width: 28px;
}

.keyboard .caps-key::after {
    content: 'LT';
}

.keyboard .space-key img {
    width: 47px;
}
.keyboard .space-key::after {
    content: 'Y';
    color: var(--warning);
}

.keyboard .backspace-key img {
    width: 32px;
}
.keyboard .backspace-key::after {
    content: 'X';
    color: var(--info);
}

.keyboard .done-key img {
    width: 30px;
}
.keyboard .done-key::after {
    content: 'RT';
}