.collections-scroll-container {
    padding-top: 120px;
    overflow-y: auto;
    height: 100vh;
}

.collections-header {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 120px;
}

.create-collection-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    padding: 12px 20px;
    box-shadow: var(--shadow);
    background-color: var(--bg-card-secondary);
    border: var(--border-primary);
    border-radius: 10px;
}

.create-collection-btn img {
    width: 30px;
}

.create-collection-btn p {
    font-size: 19px;
    font-weight: 600;
}

.collection-folders-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 45px;
    gap: 30px;
    padding: 15px 30px 150px 30px;
}

.collection-title-form-container {
    position: absolute;
    left: 50%;
    bottom: 580px;
    transform: translateX(-50%);
    width: fit-content;
    width: 1040px;
    background-color: var(--bg-secondary);
    box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.5);
    border: var(--border-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 30px 20px 30px;
}

.collection-title-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.collection-title-form-container label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.collection-title-form-container .input-container {
    background-color: var(--bg-primary);
    border: var(--border-primary);
    border-radius: 3px;
    padding: 10px 20px;
}

.collection-title-form-container input {
    background-color: var(--bg-primary);
    field-sizing: content;
    outline: none;
    font-size: 25px;
    border: none;
    border-right: 1px solid var(--text-placeholder);
    letter-spacing: 0.5px;
}